@charset "UTF-8";

/* 回答はここに書いてね */
.cleafix:after {
  content: "";
  display: block;
  clear: both;
}

.outer {
  margin: 0 auto;
  width: 940px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #eff3f4;
}

.inner {
  margin-left: 20px;
  width: 270px;
  background-color: #3274ae;
  float: left;
}

.inner:first-child {
  margin-left: 0px;
}

.text {
  margin: 20px;
  padding: 20px;
  border: solid;
  border-width: 10px;
  border-color: #022336;
  background-color: #eaf4ff;
  font-size: 16px;
  line-height: 16px;
}

/* 回答はここに書いてね */