@charset "UTF-8";

/* 回答はここに書いてね */
.cleafix:after {
  content: "";
  display: block;
  clear: both;
}
/* 回答はここに書いてね */
.cleafix{
  width: 940px;
  background-color: #eff3f4;
}

.text_box{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 270px;
  background-color: #3274ae;
  float: left;
}

.text_box:first-child {
  margin-left: 20px;
}

.text{
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: solid;
  border-width: 10px;
  border-color: #022336;
  background-color: #eaf4ff;
  font-size: 16px;
  line-height: 16px;
}