@charset "UTF-8";

/* 回答はここに書いてね */
.cleafix:after {
  content: "";
  display: block;
  clear: both;
}

.q7__fix__text {
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
}

.q7__fix__text:first-child {
  margin-right: 50px;
}

.q7__var__text {
  font-size: 16px;
  box-sizing: border-box;
}

.q7-1__flo {
  float: left;
}

.q7-2__table {
  display: table;
}

.q7-2__table__cell {
  display: table-cell;
  vertical-align: middle;
}

.q7-2__cell__text {
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
}

.q7-3__outer {
  font-size: 0;
}

.q7-3__inner {
  display: inline-block;
  vertical-align: middle;
}

.q7-4__outer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7__flex__text {
  box-sizing: border-box;
  font-size: 16px;
  width: 225px;
}

.q7-5__text {
  box-sizing: border-box;
  font-size: 16px;
}

.q7-5__block {
  font-size: 0;
}

.q7-5__fix__outer {
  display: inline-block;
  vertical-align: top
}

.q7-5__fix__inner {
  width: 300px;
}

.q7-5__var__outer {
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
/* 回答はここに書いてね */
