@charset "UTF-8";

/* 回答はここに書いてね */
.q9-1__outer {
  text-align: center;
  width: 500px;
  height: 333px;
  margin: auto;
  overflow: hidden;
}

.q9-1__inner {
  position: relative;
}

.q9-1__img {
  transition: 0.5s;
}

.q9-1__mask__area {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  bottom: -200px;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,8));
}

.q9-1__mask__text {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  padding: 20px;
  transition: 0.5s;
  padding-bottom: 20px;
  bottom: 0;
}

.q9-1__inner:hover img {
  transform: scale(1.5,1.5);
}

.q9-1__inner:hover .q9-1__mask__area {
  opacity: 1;
  bottom: 0;
  padding-bottom: 20px;
}

.q9-2 {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid #ecf1f2;
  border-right-color: #00bcd4;
  animation: rotate 1.1s linear infinite;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
/* 回答はここに書いてね */
